[submodule "ext/terminal"]
	path = ext/terminal
	url = https://github.com/allisterb/terminal.git
[submodule "ext/webspeech-ext"]
	path = ext/webspeech-ext
	url = https://github.com/allisterb/webspeech-1.git
[submodule "ext/FSharp.MongoDB"]
	path = ext/FSharp.MongoDB
	url = https://github.com/afshawnlotfi/FSharp.MongoDB.git
[submodule "ext/WebSharperBootstrap"]
	path = ext/WebSharperBootstrap
	url = https://github.com/allisterb/WebSharperBootstrap.git
[submodule "ext/Humanizer"]
	path = ext/Humanizer
	url = https://github.com/allisterb/Humanizer.git
[submodule "ext/alexa-skills-dotnet"]
	path = ext/alexa-skills-dotnet
	url = https://github.com/timheuer/alexa-skills-dotnet.git
[submodule "ext/Alexa.NET.Conversations"]
	path = ext/Alexa.NET.Conversations
	url = https://github.com/stoiveyp/Alexa.NET.Conversations.git
[submodule "ext/impressjs"]
	path = ext/impressjs
	url = https://github.com/impress/impress.js.git
