.terminal {
    --color: #40AADD;
    --background: white;
    --size: 2;
}

#microphone {
    width: unset;
}

.mic {
    width: 120px;
}

.mic-box {
    width: 120px
}
/*
    font-size: unset;
    line-height: unset
.mic-box {
    border: inherit
}

.wit-microphone {
    height: unset;
    width: 30px;
}
*/
